body {
  background-color: rgb(235, 237, 238);
  font-family: "PT Sans", sans-serif;
}
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
::placeholder {
  text-align: center;
  color: rgb(170, 170, 170);
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 600;
}
#website-name {
  font-family: "Smooch Sans", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 30px;
  color: #27725f;
  font-weight: 700;
}

/* search-input */
#search-input {
  width: 20.54rem;
  text-align: center;
  color: #1b2e35;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid rgba(88, 88, 88, 0.411);
  background-color: #dcdcdc;
  border-radius: 3px;
}
#search-input:focus {
  background-color: #d5f8e5;
  border: 2px solid #45a179df;
  border-radius: 3px;
  outline: 0;
}

/* Buttons */
#search-button,
#show-more-phones,
.show-more-details-button {
  border: 2px solid #59e4a8;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin: 10px 0;
  background-color: #265f56f3;
  padding: 5px 25px;
  text-decoration: none;
}
#search-button:hover,
#show-more-phones:hover,
.show-more-details-button:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.03);
}
#show-more-phones {
  width: 12.5rem;
  display: none;
}

/* Error messages */
#empty-error-message,
#wrong-error-message {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: red;
  display: none;
}
#website-elements,
#spinner {
  display: none;
}
#total-count {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}

/* Result Cards */
#phone-card {
  border-radius: 10px;
  border: 4px solid #1e3d30;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#phone-name {
  font-size: 25px;
  font-weight: 600;
}
#phone-brand {
  font-weight: 600;
  font-size: 20px;
}

.detail-box {
  min-height: 420px;
  background-color: rgba(209, 209, 209, 0.74);
  border-radius: 10px;
  border: 3px solid #1e3d30;
  padding: 20px;
  margin: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#release-text {
  font-size: 1.1rem;
  font-weight: bold;
}
.image-border {
  border: 2px solid rgba(160, 159, 159, 0.493);
  border-radius: 20px;
}
.features-tag {
  font-weight: 600;
}
.details-tag {
  font-size: 1.05rem;
  /* border: 1px solid white; */
  padding: 5px;
  margin: 10px 0 10px 0;
}
