body {
  background-color: aliceblue;
}
.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
#website-name {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: blueviolet;
}
#error-message {
  text-align: center;
  color: red;
  font-size: 20px;
  display: none;
}
#total-count {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.detail-box {
  background-color: rgba(160, 159, 159, 0.493);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0 20px 0;
}
.phone-button {
  margin: 5px 0 5px 0;
}

#show-more-phones {
  display: none;
}
